$gutter: 20px;

$desktop: 'screen and (min-width: 1024px)';
$mobile: 'screen and (max-width: 1023px)';

$roboto: 'Roboto', sans-serif;

@import 'utils/colors';
@import 'utils/normalize';

@import '../../components/button/button';
@import '../../components/card/card';
