.button-component {
    display: table;

    background: $green;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0 , .24);
    border-radius: 2px;

    transition: all .3s;

    &__content {
        display: block;

        font-weight: 600;
        font-size: 1.4rem;
        color: $white;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        padding: 9px 11px;
    }

    &:hover {
        background: $blue;
    }
}