<div class="card-component">
    <div class="card-component__header">
        Title card
    </div>
    <div class="card-component__content">

    </div>
    <div class="card-component__footer">
        {{> '@button' text="See card"}}
    </div>
</div>