.card-component {
    display: table;

    width: 100%;
    max-width: 320px;

    background: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 2px;

    @media #{$desktop} {
        max-width: 768px;
    }

    &__header {
        text-align: center;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.4rem;

        padding: 20px 0;

        @media #{$desktop} {
            font-size: 2rem;
        }
    }

    &__content {
        height: 192px;

        text-align: center;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.4rem;

        background: #BDBDBD;
    }

    &__footer {
        margin: 10px 0;

        .button-component {
            margin: 0 auto;
        }
    }
}